*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  width: 70vw;
  max-width: 900px;

  margin: 0 auto;
  padding: 1rem 0;

  background-color: hsl(90, 1%, 75%);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}
.form div {
  width: 50%;
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.form button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  position: relative;
  z-index: 1;

  cursor: pointer;
  transition: color 300ms ease;
}
.form button:hover {
  color: white;
}

.form button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  z-index: -1;

  background-color: blue;
  transform: scaleX(0);
  transition: transform 300ms ease;
  transform-origin: left;
}

.form button:hover::before {
  transform: scaleX(1);
  color: white;
}
